{% extends 'base.html' %}

{% block head %}
<title>Django Flashcards | Card Decks</title>
{% endblock %}

{% block body%}
<div class="row">
{% for t in topics %}
{% cycle 'primary' 'warning' 'danger' 'secondary' 'success' 'info' 'dark' as color silent %}
    {% if forloop.counter0|divisibleby:4 %}
        </div><br><div class="row mx-5">
    {% endif %}

        <div class="column" >

            <div class="card text-white bg-{{ color }} m-2 " style="width: 17.3rem;">

            <div class="card-header">{{ t.description }}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{ t.topic}}</h4>
                <h6 class="card-text">Created By: {{t.created_by}}</h6>


                <!--conditional statement for plural/singular use of the word card displayed on template-->
                {% if t.get_card_count != 1 %}
                    <h6 class="card-subtitle mb-2 text-white">{{ t.get_card_count }} cards in deck</h6>
                {% else %}
                    <h6 class="card-subtitle mb-2 text-white">{{ t.get_card_count }} card in deck</h6>
                {% endif %}

                <!--p-- class="card-text">{{ t.description }}</!--p-->
                <a href= "{% url 'flashcards:view_card_set' t.id %}" class="card-link text-white">Study</a>
                <a href= "{% url 'flashcards:edit_card_set' t.id %}" class="card-link text-white">Edit Deck</a>
                <a href= "{% url 'flashcards:create_card' t.id %}" class="card-link text-white">Add Card</a>
            </div>
            </div>
        </div>

{% endfor %}

<!-- Create a card button always at the end of card_set gallery -->
<div class="column m-2">
    <h3>Custom Card Set</h3>
    <h6>Create a custom study set</h6>
    <p>
    <a class="btn btn-primary" href="{% url 'flashcards:create_card_set' %}"
    role="button">Create New</a>
    </p>
</div>

{% endblock %}
