<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
            <h1>CREATE A NEW SET</h1>
            <H3>SET NAME</H3>
            <div class="createcontainer">
        <button class="createbutton">
            FRONT
        </button>
        <button class="createbutton">
            BACK
        </button>
    </div>
    <h3>+ ADD TO NEW SET</h3>
    </main>   
</body>
</html>
